---
---

@import "{{ site.theme }}";

table:nth-of-type(1) {
	background: lightblue;
}

table:nth-of-type(2) {
	background: lightgreen;
}


tbody {

	tr:hover>td,
	tr:hover>th {
		background-color: $table-hover-color;
	}
}

th {
	text-align: center;
}

tr,
td,
th {
	vertical-align: middle;
}