---
---

@import "{{ site.theme }}";

table:nth-of-type(1) {
	background: lightblue;
}

table:nth-of-type(2) {
	background: lightgreen;
}

thead>tr>th {
	text-align: center !important;
}

tr,
td,
th {
	vertical-align: middle;
}